@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    
}

.logo{
    height: 55px;
    width: 55px;
}

.container{
    min-height: 36rem;
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.egesz{
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 5rem;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    z-index: -1;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}

.navbar a{
    font-weight: 500;
    margin-left: 2.5rem;
    text-decoration: none;
    color: rgb(207, 207, 207);
    transition: 0.2s ease;
}

.navbar a:hover{
    color: #fff;
}


#check{
    display: none;
}


.icons{
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    right: 5%;
}

/*breakpoints*/

@media (max-width: 1072px) {
    .header{
        padding: 1.3rem 5%;
    }  

    .banner{
        display: flex;
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: center;
        
    }
    .banner div ul{
        text-align: center;
        padding: 0;
        padding-top: 2rem;
    }



    .rolunk{
        flex-direction: column;
        height: 40.8rem !important;
        gap: 5rem !important;
    }

    .bal{
        width: 100% !important;

    }

    .jobb{
        width: 100% !important;
        height: 20rem !important;
    }


    .section1{
        height: 28rem !important;
    }

    .section2{
        flex-direction: column-reverse;
        height: 55rem !important;
        align-items: center;
    }

    .bal1{
        width: 70% !important;
        height: 25rem !important;
    }

    .jobb1{
        width: 70% !important;
        height: 30rem !important;
    }


    .csapat{
        padding: 0rem 5rem 0rem 5rem !important;
        gap: 5rem !important;
    }


    .section3{
        height: 70rem !important;
    }



}

@media (max-width: 768px) {
    .icons{
        display: block;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .header{
        background-color: rgb(42, 34, 30);
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: rgb(42, 34, 30) !important;
        transition: .3s ease;
        z-index: 5;
    }
    
    
    #check:checked~.navbar{
        width: 50vw;
    }

    .navbar a{
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        display: block;
        text-align: center;
    }


  

    .container1::-webkit-scrollbar{
        display: none;
    }

    

    .rolunk{
        height: 28rem !important;
    }

    .bal{
        padding-top: 3rem !important;
    }

    .jobb{
        display: none;
        
    }

    .section1{
        height: 18rem !important;
    }


    .lista{
        flex-direction: column;
        gap: 0rem !important;
        line-height: 0rem;
    }

    
    .jobb1{
        height: 50rem !important;
    }

    .bal1{
        height: 50rem !important;
    }


    

    

    .csapat{
        flex-direction: column;
        height: 70rem !important;
        gap: 20rem !important;
        padding-top: 1rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }


    .footer{
        gap: 2rem !important;
    }


    .section3{
        height: 100rem !important;
    }
}



@media (max-width: 510px){
    

    .jobb1 p{
        padding-bottom: 1rem !important;
    }

    .jobb1{
        padding-top: 2rem !important;
    }

    .jobb1{
        padding: 1rem !important;
    }

    .bal1{
        height: 50rem !important;
        
    }

    .bal{
        padding: 1rem !important;

    }

    .footer{
        flex-direction: column;
    }


    .section3{
        height: 106rem !important;
    }

    
}



/*hero-section*/


.hero{
    position: absolute;
    top: 12rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.right{
    margin: auto;
    text-align: center;
}


.bxl-facebook-circle{
    font-size: 1.2rem;
}





.big-text{
    color: rgb(241, 241, 241);
    font-size: 2.5rem;
    line-height: 1.4;
}

.small-text{
    color: #dbdbdb;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

.exploring-btn{
    color: rgb(239, 239, 239);
    background-color: #a55000d5;
    border: none;
    border-radius: 15px;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    cursor: pointer;
    transition: .3s ease;
    outline: none;
}

.exploring-btn:hover{
    transform: scale(1.05);
}

.exploring-btn:active{
    transform: scale(.90);
}


::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color:#a55000d5;
    border-radius: 25px;
}


.section1{
    width: 100%;
    height: 17.15rem;
    background-color: #393939;
}


.rolunk p{
    text-align: center;
}

.rolunk{
    display: flex;
    background-color: #1f1f1f;
    width: 70%;
    height: 30rem;
    margin: auto;
}

.bxl-facebook-circle{
    padding-bottom: 7rem;
}

.bal{
    
    width: 50%;
    padding: 5rem 4rem 0rem 4rem;
    text-align: center;
}

.bal h1{
    padding-bottom: 2rem;
    color: rgb(239, 239, 239);
}

.bal p{
    color: #dbdbdb;
}


.jobb{
    background-image: url(kozos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    align-items: center;
}






.section2{
    width: 100%;
    height: 30rem;
    display: flex;
    background-color: #393939;
}


.bal1{
    background-image: url(kep4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}


.jobb1{
    width: 50%;
    padding: 5rem 3rem 0rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
}


.jobb1 h1{
    color: rgb(241, 241, 241);
    padding-bottom: 1.5rem;
    font-size: 2em;
}

.jobb1 p{
    color: #d2d2d2;
    padding-bottom: 2.5rem;
}

.lista{
    display: flex;
    color: #dbdbdb;
    gap: 5rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
}

.lista ul{
    list-style: none;
}

.lista ul li{
    cursor:default;
    transition: 0.3s ease;
}

.lista ul li:hover{
    color: #a55000d5;
    transform: scale(1.1);
}


.section3{
    background-color: #c9c9c9;
    height: 70rem;
}

.csapat-szoveg{
    text-align: center;
    font-size: 2.5em;
    padding-top: 3rem;
}

.csapat{
    width: 100%;
    height: 35rem;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0rem 15rem 0rem 15rem;
    gap: 5rem;
}

.anya{
    background-image: url(anya1.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.szarok{
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.67);
-webkit-box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.67);
    height: 18rem;
}

.anya-kep{
    width: 70%;
    height: 30rem;
    background-color: #fff;
    transition: 0.3s ease;
}

#nori{
    background-image: url(02.jpg);
}


#f-logo{
    padding: 0rem;
}

.anya-kep p{
    padding: 0.5rem;
}

.anya-kep h1{
    padding-top: 1rem;
}


.anya-kep:hover{
    transform: scale(1.02);
}



.section4{
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}


.footer{
    display: flex;
    gap: 5rem;
    text-align: center;
    color: #dbdbdb;
    align-items: center;
    margin: auto;
    
}

.bx{
    font-size: 2.5rem;
    padding: 1.3rem;
}

.footer p{
    font-size: 0.8rem;
}


.jogok{
    background-color: rgb(34, 34, 34);
    color: #d2d2d2;
    font-size: 0.7rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.jogok1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

